{%extends 'base/main.html'%}
{%load static %}

{% block content %}
<section class="project-cs-hero">
  <div class="project-cs-hero__content">
    <h1 class="heading-primary">{{post.headline}}</h1>
    <div class="project-cs-hero__info">
      <p class="text-primary">
        {{post.sub_headline}}
      </p>
    </div>
    {% if post.live_url %}
    <div class="project-cs-hero__cta">
      <a href="{{post.live_url}}" class="btn btn--bg" target="_blank">Live Link</a>
    </div>
    {% elif post.code_url %}
    <div class="project-cs-hero__cta">
      <a href="{{post.code_url}}" class="btn btn--bg" target="_blank">Code Link</a>
    </div>
    {% else %}
    <div>
      
    </div>
    {% endif %}
  </div>
</section>
<section class="project-details">
  <div class="main-container">
    <div class="project-details__content">
      <div class="project-details__showcase-img-cont">
        <img src="{{post.thumbnail.url}}" alt="Project Image" class="project-details__showcase-img" />
      </div>
      <div class="project-details__content-main">
        <div class="project-details__desc">
          <h3 class="project-details__content-title">Project Overview</h3>
          <h1 class="project-details__desc-para">
            {{post.body|safe}}
          </h1>
        </div>
        <div class="project-details__tools-used">
          <h3 class="project-details__content-title">Tools Used</h3>
          <div class="skills">
            {%for tag in post.tags.all %}
            <div class="skills__skill">{{tag}}</div>
            {%endfor %}
            
          </div>
        </div>
        <div class="project-details__links">
          <h3 class="project-details__content-title">See Live</h3>
          {%if post.live_url and post.code_url %}
          <a href="{{post.live_url}}" class="btn btn--med btn--theme project-details__links-btn" target="_blank">Live Link</a>
          <a href="{{post.code_url}}" class="btn btn--med btn--theme-inv project-details__links-btn" target="_blank">Code Link</a>
          {% elif post.live_url %}
          <a href="{{post.live_url}}" class="btn btn--med btn--theme project-details__links-btn" target="_blank">Live Link</a>
          {% elif post.code_url%}
          <a href="{{post.code_url}}" class="btn btn--med btn--theme-inv project-details__links-btn" target="_blank">Code Link</a>
          {% else %}
          <div><h2>No Live/Code Url for this project</h2></div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}